.container {
	width: 200px;
	height: 200px;
	margin: auto;
	background: #abc;
	align-self: center;
	padding: 2px;
}

.entrada-texto {
	padding-top: 5px;
}
input {
	border: none;
	outline: none;
	width: 200px;
	height: 20px;;
}
.botones {
	display: inline-block;
	margin: 8px;
}
button{
	width: 80px;
}
#resultado {
	color: #fff;
	font-size: 12px;
	background: none;
	outline: none;
	border: none;
	margin: auto;
}
#resultado::selection {
	background: red;
}